In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sns
import plotly as px
import warnings
warnings.filterwarnings('ignore')

In [52]:
#reading loan file
ln=pd.read_csv("loan.csv")
print ("Sample records: \n")
ln.head(2)

Sample records:

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [53]:
print("Loan Data - Row vs columns: ", ln.shape)

Loan Data - Row vs columns:  (39717, 111)

 # Section 1: Data Cleaning
## 1.1 Clean all rows which are null

In [54]:
#function defined to provide detailed info on any column list when called for

def detinfo(df,list):
    for i in list:
        print("*******************************************************")
        print("column Name: ", i)
        print("-------------------------------------------------------")
        print("type: ", df[i].dtype)
        print("Number of null values: ", df[i].isnull().sum() )
        print("Number of unique values:",len(df[i].unique()) )
        print("Detailed Information")
        print(df[i].describe())

In [55]:
#function defined to delete columns when required

def delfunc(df,list):
    print("No. of columns to be deleted: ", len(list))
    print("Columns to be deleted: ", list)
    print("Total Columns before deletion: ", len(ln.columns))
    df.drop(list,axis=1,inplace=True)
    print("Total Columns after deletion: ", len(ln.columns))

In [56]:
#check percentage of column values are null
#ln[100*ln.isnull().mean().value==100]
chk_null=round(100*ln.isnull().mean(),0).sort_values(ascending=False)
round(100*ln.isnull().mean(),0).sort_values(ascending=False)

verification_status_joint    100.0
annual_inc_joint             100.0
mo_sin_old_rev_tl_op         100.0
mo_sin_old_il_acct           100.0
bc_util                      100.0
                             ...
pub_rec                        0.0
open_acc                       0.0
chargeoff_within_12_mths       0.0
delinq_amnt                    0.0
id                             0.0
Length: 111, dtype: float64

######### Above shows that there are columns which have all rows as null or most rows null

In [57]:
##### Identifing all such columns and deleting them
list1=[]
for i in range(0,len(chk_null)):
    if chk_null.iloc[i]>=93.0:
        list1=np.append(list1,chk_null.index[i])

delfunc(ln,list1)

No. of columns to be deleted:  56
Columns to be deleted:  ['verification_status_joint' 'annual_inc_joint' 'mo_sin_old_rev_tl_op'
 'mo_sin_old_il_acct' 'bc_util' 'bc_open_to_buy' 'avg_cur_bal'
 'acc_open_past_24mths' 'inq_last_12m' 'total_cu_tl' 'inq_fi'
 'total_rev_hi_lim' 'all_util' 'max_bal_bc' 'open_rv_24m' 'open_rv_12m'
 'il_util' 'total_bal_il' 'mths_since_rcnt_il' 'open_il_24m' 'open_il_12m'
 'open_il_6m' 'open_acc_6m' 'tot_cur_bal' 'tot_coll_amt'
 'mo_sin_rcnt_rev_tl_op' 'mo_sin_rcnt_tl' 'mort_acc' 'num_rev_tl_bal_gt_0'
 'total_bc_limit' 'total_bal_ex_mort' 'tot_hi_cred_lim' 'percent_bc_gt_75'
 'pct_tl_nvr_dlq' 'num_tl_op_past_12m' 'num_tl_90g_dpd_24m' 'num_tl_30dpd'
 'num_tl_120dpd_2m' 'num_sats' 'num_rev_accts' 'mths_since_recent_bc'
 'num_op_rev_tl' 'num_il_tl' 'num_bc_tl' 'num_bc_sats' 'num_actv_rev_tl'
 'num_actv_bc_tl' 'num_accts_ever_120_pd' 'mths_since_recent_revol_delinq'
 'mths_since_recent_inq' 'mths_since_recent_bc_dlq' 'dti_joint'
 'total_il_high_credit_limit' 'mths_since_last_major_derog' 'next_pymnt_d'
 'mths_since_last_record']
Total Columns before deletion:  111
Total Columns after deletion:  55

In [58]:
round(100*ln.isnull().mean(),0).sort_values(ascending=False)

mths_since_last_delinq        65.0
desc                          33.0
emp_title                      6.0
emp_length                     3.0
pub_rec_bankruptcies           2.0
total_rec_late_fee             0.0
revol_bal                      0.0
revol_util                     0.0
total_acc                      0.0
initial_list_status            0.0
out_prncp                      0.0
out_prncp_inv                  0.0
total_pymnt                    0.0
total_pymnt_inv                0.0
total_rec_prncp                0.0
total_rec_int                  0.0
id                             0.0
recoveries                     0.0
pub_rec                        0.0
last_pymnt_d                   0.0
last_pymnt_amnt                0.0
last_credit_pull_d             0.0
collections_12_mths_ex_med     0.0
policy_code                    0.0
application_type               0.0
acc_now_delinq                 0.0
chargeoff_within_12_mths       0.0
delinq_amnt                    0.0
collection_recovery_fee        0.0
inq_last_6mths                 0.0
open_acc                       0.0
verification_status            0.0
loan_amnt                      0.0
funded_amnt                    0.0
funded_amnt_inv                0.0
term                           0.0
int_rate                       0.0
installment                    0.0
grade                          0.0
sub_grade                      0.0
home_ownership                 0.0
annual_inc                     0.0
issue_d                        0.0
member_id                      0.0
loan_status                    0.0
pymnt_plan                     0.0
url                            0.0
purpose                        0.0
title                          0.0
zip_code                       0.0
addr_state                     0.0
dti                            0.0
delinq_2yrs                    0.0
earliest_cr_line               0.0
tax_liens                      0.0
dtype: float64

In [59]:
# deleting columns which are not useful for analysis for customer default drivers
cols=['url','desc','emp_title','zip_code']
delfunc(ln,cols)

No. of columns to be deleted:  4
Columns to be deleted:  ['url', 'desc', 'emp_title', 'zip_code']
Total Columns before deletion:  55
Total Columns after deletion:  51

In [60]:
# analysing rest of the columns for cleaning and usefullness of the data
detinfo(ln,ln.columns)

*******************************************************
column Name:  id
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 39717
Detailed Information
count    3.971700e+04
mean     6.831319e+05
std      2.106941e+05
min      5.473400e+04
25%      5.162210e+05
50%      6.656650e+05
75%      8.377550e+05
max      1.077501e+06
Name: id, dtype: float64
*******************************************************
column Name:  member_id
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 39717
Detailed Information
count    3.971700e+04
mean     8.504636e+05
std      2.656783e+05
min      7.069900e+04
25%      6.667800e+05
50%      8.508120e+05
75%      1.047339e+06
max      1.314167e+06
Name: member_id, dtype: float64
*******************************************************
column Name:  loan_amnt
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 885
Detailed Information
count    39717.000000
mean     11219.443815
std       7456.670694
min        500.000000
25%       5500.000000
50%      10000.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64
*******************************************************
column Name:  funded_amnt
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 1041
Detailed Information
count    39717.000000
mean     10947.713196
std       7187.238670
min        500.000000
25%       5400.000000
50%       9600.000000
75%      15000.000000
max      35000.000000
Name: funded_amnt, dtype: float64
*******************************************************
column Name:  funded_amnt_inv
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 8205
Detailed Information
count    39717.000000
mean     10397.448868
std       7128.450439
min          0.000000
25%       5000.000000
50%       8975.000000
75%      14400.000000
max      35000.000000
Name: funded_amnt_inv, dtype: float64
*******************************************************
column Name:  term
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 2
Detailed Information
count          39717
unique             2
top        36 months
freq           29096
Name: term, dtype: object
*******************************************************
column Name:  int_rate
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 371
Detailed Information
count      39717
unique       371
top       10.99%
freq         956
Name: int_rate, dtype: object
*******************************************************
column Name:  installment
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 15383
Detailed Information
count    39717.000000
mean       324.561922
std        208.874874
min         15.690000
25%        167.020000
50%        280.220000
75%        430.780000
max       1305.190000
Name: installment, dtype: float64
*******************************************************
column Name:  grade
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 7
Detailed Information
count     39717
unique        7
top           B
freq      12020
Name: grade, dtype: object
*******************************************************
column Name:  sub_grade
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 35
Detailed Information
count     39717
unique       35
top          B3
freq       2917
Name: sub_grade, dtype: object
*******************************************************
column Name:  emp_length
-------------------------------------------------------
type:  object
Number of null values:  1075
Number of unique values: 12
Detailed Information
count         38642
unique           11
top       10+ years
freq           8879
Name: emp_length, dtype: object
*******************************************************
column Name:  home_ownership
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 5
Detailed Information
count     39717
unique        5
top        RENT
freq      18899
Name: home_ownership, dtype: object
*******************************************************
column Name:  annual_inc
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 5318
Detailed Information
count    3.971700e+04
mean     6.896893e+04
std      6.379377e+04
min      4.000000e+03
25%      4.040400e+04
50%      5.900000e+04
75%      8.230000e+04
max      6.000000e+06
Name: annual_inc, dtype: float64
*******************************************************
column Name:  verification_status
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 3
Detailed Information
count            39717
unique               3
top       Not Verified
freq             16921
Name: verification_status, dtype: object
*******************************************************
column Name:  issue_d
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 55
Detailed Information
count      39717
unique        55
top       Dec-11
freq        2260
Name: issue_d, dtype: object
*******************************************************
column Name:  loan_status
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 3
Detailed Information
count          39717
unique             3
top       Fully Paid
freq           32950
Name: loan_status, dtype: object
*******************************************************
column Name:  pymnt_plan
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 1
Detailed Information
count     39717
unique        1
top           n
freq      39717
Name: pymnt_plan, dtype: object
*******************************************************
column Name:  purpose
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 14
Detailed Information
count                  39717
unique                    14
top       debt_consolidation
freq                   18641
Name: purpose, dtype: object
*******************************************************
column Name:  title
-------------------------------------------------------
type:  object
Number of null values:  11
Number of unique values: 19616
Detailed Information

count                  39706
unique                 19615
top       Debt Consolidation
freq                    2184
Name: title, dtype: object
*******************************************************
column Name:  addr_state
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 50
Detailed Information
count     39717
unique       50
top          CA
freq       7099
Name: addr_state, dtype: object
*******************************************************
column Name:  dti
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 2868
Detailed Information
count    39717.000000
mean        13.315130
std          6.678594
min          0.000000
25%          8.170000
50%         13.400000
75%         18.600000
max         29.990000
Name: dti, dtype: float64
*******************************************************
column Name:  delinq_2yrs
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 11
Detailed Information
count    39717.000000
mean         0.146512
std          0.491812
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         11.000000
Name: delinq_2yrs, dtype: float64
*******************************************************
column Name:  earliest_cr_line
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 526
Detailed Information
count      39717
unique       526
top       Nov-98
freq         370
Name: earliest_cr_line, dtype: object
*******************************************************
column Name:  inq_last_6mths
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 9
Detailed Information
count    39717.000000
mean         0.869200
std          1.070219
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          8.000000
Name: inq_last_6mths, dtype: float64
*******************************************************
column Name:  mths_since_last_delinq
-------------------------------------------------------
type:  float64
Number of null values:  25682
Number of unique values: 96
Detailed Information
count    14035.000000
mean        35.900962
std         22.020060
min          0.000000
25%         18.000000
50%         34.000000
75%         52.000000
max        120.000000
Name: mths_since_last_delinq, dtype: float64
*******************************************************
column Name:  open_acc
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 40
Detailed Information
count    39717.000000
mean         9.294408
std          4.400282
min          2.000000
25%          6.000000
50%          9.000000
75%         12.000000
max         44.000000
Name: open_acc, dtype: float64
*******************************************************
column Name:  pub_rec
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 5
Detailed Information
count    39717.000000
mean         0.055065
std          0.237200
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          4.000000
Name: pub_rec, dtype: float64
*******************************************************
column Name:  revol_bal
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 21711
Detailed Information
count     39717.000000
mean      13382.528086
std       15885.016641
min           0.000000
25%        3703.000000
50%        8850.000000
75%       17058.000000
max      149588.000000
Name: revol_bal, dtype: float64
*******************************************************
column Name:  revol_util
-------------------------------------------------------
type:  object
Number of null values:  50
Number of unique values: 1090
Detailed Information
count     39667
unique     1089
top          0%
freq        977
Name: revol_util, dtype: object
*******************************************************
column Name:  total_acc
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 82
Detailed Information
count    39717.000000
mean        22.088828
std         11.401709
min          2.000000
25%         13.000000
50%         20.000000
75%         29.000000
max         90.000000
Name: total_acc, dtype: float64
*******************************************************
column Name:  initial_list_status
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 1
Detailed Information
count     39717
unique        1
top           f
freq      39717
Name: initial_list_status, dtype: object
*******************************************************
column Name:  out_prncp
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 1137
Detailed Information
count    39717.000000
mean        51.227887
std        375.172839
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       6311.470000
Name: out_prncp, dtype: float64
*******************************************************
column Name:  out_prncp_inv
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 1138
Detailed Information
count    39717.000000
mean        50.989768
std        373.824457
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       6307.370000
Name: out_prncp_inv, dtype: float64
*******************************************************
column Name:  total_pymnt
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 37850
Detailed Information
count    39717.000000
mean     12153.596544
std       9042.040766
min          0.000000
25%       5576.930000
50%       9899.640319
75%      16534.433040
max      58563.679930
Name: total_pymnt, dtype: float64
*******************************************************
column Name:  total_pymnt_inv
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 37518
Detailed Information
count    39717.000000
mean     11567.149118
std       8942.672613
min          0.000000
25%       5112.310000
50%       9287.150000
75%      15798.810000
max      58563.680000
Name: total_pymnt_inv, dtype: float64
*******************************************************
column Name:  total_rec_prncp
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 7976
Detailed Information
count    39717.000000
mean      9793.348813
std       7065.522127
min          0.000000
25%       4600.000000
50%       8000.000000
75%      13653.260000
max      35000.020000
Name: total_rec_prncp, dtype: float64
*******************************************************
column Name:  total_rec_int
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 35148
Detailed Information
count    39717.000000
mean      2263.663172
std       2608.111964
min          0.000000
25%        662.180000
50%       1348.910000
75%       2833.400000
max      23563.680000
Name: total_rec_int, dtype: float64
*******************************************************
column Name:  total_rec_late_fee
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 1356
Detailed Information
count    39717.000000
mean         1.363015
std          7.289979
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        180.200000
Name: total_rec_late_fee, dtype: float64
*******************************************************
column Name:  recoveries
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 4040
Detailed Information
count    39717.000000
mean        95.221624
std        688.744771
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      29623.350000
Name: recoveries, dtype: float64
*******************************************************
column Name:  collection_recovery_fee
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 2616
Detailed Information
count    39717.000000
mean        12.406112
std        148.671593
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       7002.190000
Name: collection_recovery_fee, dtype: float64
*******************************************************
column Name:  last_pymnt_d
-------------------------------------------------------
type:  object
Number of null values:  71
Number of unique values: 102
Detailed Information
count      39646
unique       101
top       May-16
freq        1256
Name: last_pymnt_d, dtype: object
*******************************************************
column Name:  last_pymnt_amnt
-------------------------------------------------------
type:  float64
Number of null values:  0
Number of unique values: 34930
Detailed Information
count    39717.000000
mean      2678.826162
std       4447.136012
min          0.000000
25%        218.680000
50%        546.140000
75%       3293.160000
max      36115.200000
Name: last_pymnt_amnt, dtype: float64
*******************************************************
column Name:  last_credit_pull_d
-------------------------------------------------------
type:  object
Number of null values:  2
Number of unique values: 107
Detailed Information
count      39715
unique       106
top       May-16
freq       10308
Name: last_credit_pull_d, dtype: object
*******************************************************
column Name:  collections_12_mths_ex_med
-------------------------------------------------------
type:  float64
Number of null values:  56
Number of unique values: 2
Detailed Information
count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: collections_12_mths_ex_med, dtype: float64
*******************************************************
column Name:  policy_code
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 1
Detailed Information
count    39717.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: policy_code, dtype: float64
*******************************************************
column Name:  application_type
-------------------------------------------------------
type:  object
Number of null values:  0
Number of unique values: 1
Detailed Information
count          39717
unique             1
top       INDIVIDUAL
freq           39717
Name: application_type, dtype: object
*******************************************************
column Name:  acc_now_delinq
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 1
Detailed Information
count    39717.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: acc_now_delinq, dtype: float64
*******************************************************
column Name:  chargeoff_within_12_mths
-------------------------------------------------------
type:  float64
Number of null values:  56
Number of unique values: 2
Detailed Information
count    39661.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: chargeoff_within_12_mths, dtype: float64
*******************************************************
column Name:  delinq_amnt
-------------------------------------------------------
type:  int64
Number of null values:  0
Number of unique values: 1
Detailed Information
count    39717.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: delinq_amnt, dtype: float64
*******************************************************
column Name:  pub_rec_bankruptcies
-------------------------------------------------------
type:  float64
Number of null values:  697
Number of unique values: 4
Detailed Information
count    39020.000000
mean         0.043260
std          0.204324
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: pub_rec_bankruptcies, dtype: float64
*******************************************************
column Name:  tax_liens
-------------------------------------------------------
type:  float64
Number of null values:  39
Number of unique values: 2
Detailed Information
count    39678.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: tax_liens, dtype: float64

In [61]:
# deleting columns because columns values are same and hence not useful for analysis
cols=['title','pub_rec', 'initial_list_status','out_prncp','out_prncp_inv','collections_12_mths_ex_med','policy_code','application_type','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens']
delfunc(ln,cols)

No. of columns to be deleted:  12
Columns to be deleted:  ['title', 'pub_rec', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']
Total Columns before deletion:  51
Total Columns after deletion:  39

In [70]:
##Convert columns to categorical columns
ln['loan_amount'] = pd.cut(x=ln['loan_amnt'], bins=[0, 10000, 20000, 30000, 40000], labels=['0-10K', '10K-20K', '20K-30K','30K-40K'])

ln['annual_income'] = pd.cut(x=ln['annual_inc'], bins=[0,20000, 40000, 60000, 80000,7000000], labels=['0-20K', '20K-40K', '40K-60K','60K-80K','>80K'])

detinfo(ln,['annual_income'])

*******************************************************
column Name:  annual_income
-------------------------------------------------------
type:  category
Number of null values:  0
Number of unique values: 5
Detailed Information
count       39717
unique          5
top       40K-60K
freq        11608
Name: annual_income, dtype: object